
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Staatliches&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
    width: 800px;
}

nav {
    text-align: center;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

nav a{
    padding: 35px;
}

#hero{
    background-color: #D56F3E;
    border-style: solid;
}

#hero-msg h1{
    text-align: center;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 35px;
}

#hero-msg h4{
    text-align: center;
    font-family: Roboto Condensed, Helvetica, sans-serif;
}

#hero-img {
    width: 100%
}

.button-box{
    text-align: center;
    font-family: Roboto Condensed, Helvetica, sans-serif;

}

main section{
    text-align: center;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.rivers-card{
    background-color: #2C666E;
    border-style: solid;
    margin: 200px 0;
}

.camping-card{
    background-color: #2C666E;
    border-style: solid;
    margin: 200px 0;

}

.rapids-card{
    border-style: solid;
    background-color: #2C666E;
    margin: 200px 0;
}

#background {
    height: 725px;
}

body {
    background-color: #E4DFDA;
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}

header {
    background-color: #5B4B49;
}

nav a:hover {
  background-color: #D56F3E;
}

.book{
    background-color: #2C666E;
    padding: 15px 30px;
    margin-top: 50px;
}

.book:hover {
    background-color: #D56F3E;
}


.join{
    background-color: #2C666E;
    padding: 15px 30px;
    margin-top: 50px;
}

.join:hover{
  background-color: #D56F3E;
}

.msg h2 {
    background-color: #2C666E;

}
.msg {
    background-color: #5B4B49;
    padding: 35px;

}

.msg p {
    color: #E4DFDA;
    font-family: Roboto Condensed, Helvetica, sans-serif;
    padding-bottom: 15px;
}

footer {
    background-color: #5B4B49;
    font-family: Roboto Condensed, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: #E4DFDA
}

footer a {
    background-color: #2C666E;
}

footer a:hover {
  background-color: #D56F3E;
}

footer .social img{
    padding-top: 15px;
}

.card-img {
    width: 100%
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#logo_link{
    padding-top: 5px;
}   

.home-title{
    margin-top: 10px;
}   

