@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Staatliches&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
    width: 1300px;
}

header {
    background-color: #5B4B49;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    text-align: left;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

nav a{
    padding: 50px;
    margin-top: 10%;;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a:link{
    color: #E4DFDA;
}

nav a:active{
    color: #E4DFDA;
}

nav a:active{
    color: #E4DFDA;
}

nav a:visited{
    color: #E4DFDA;
}

nav a:hover {
  background-color: #D56F3E;
}

body {
    background-color: #E4DFDA;
    margin: 0;
    padding: 0;
}

#title{
    background-color: #D56F3E;
    border-style: solid;
    font-family: Staatliches, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: 0px;
    margin-bottom:10px ;
    padding-bottom: 50px;
    padding-top: 50px;

}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap:20px 50px;
}

main div{
    text-align: center;
    font-family: Roboto Condensed, Helvetica, sans-serif;
    font-size: 20px;
}
 

.salmon-card{
    grid-column: 1/2;
    grid-row: 1/2;
}

#salmon-text{
    grid-column: 2/3;
    grid-row: 1/2;

}




.desolation-card{
    grid-column: 2/3;
    grid-row:2/2;

    
}

#desolation-text{
    background-color: #E4DFDA;
    grid-column: 1/2;
    grid-row:2/2;
}



.canyon-card{
    grid-column: 1/2;
    grid-row: 4/5;
}

#canyon-text{
    background-color: #E4DFDA;;
    grid-column: 2/3;
    grid-row: 4/5;
}


footer {
    background-color: #5B4B49;
    font-family: Roboto Condensed, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: #E4DFDA
}

footer a {
    background-color: #2C666E;
}

footer a:hover {
  background-color: #D56F3E;
}

footer .social img{
    padding-top: 15px;
}